.container {
    width: 1280px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrapper {
    float: left;

}

.main-header-title {
    font-family: Arial;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: -10px 0 0 0;
}

.main-header-list {
    margin: 0;
    list-style-type: none;
    margin: 25px 0 0 0;
}

.main-header-list li {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
}

.main-header-list li:before {
    content: "";
    background-image: url(../img/check.png);
    width: 25px;
    height: 19px;
    position: absolute;
    top: 5px;
    left: -38px;
}

.main-header-photo {
    float: right;
    display: block;
    width: 469px;
    height: 214px;
    background-color: #ffffff;
}

.section-about-product {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.section-about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-product-wrap {
    float: left;
    width: 648px;
}

.about-product-title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 auto;
}

.text-about-product {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;

}

.product-video {
    display: block;
    float: right;
    width: 430px;
    height: 245px;
    background-color: #445161;
}

.dignity-product-section {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;

}

.dignity-product-section:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;

}

.dignity-product-title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 0 415px;
}

.dignity-product-list-first {
    margin: 0 auto;
    float: left;
    list-style-type: none;
}

.dignity-product-list-first li {
    width: 527px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 33px 0 0 0;
    position: relative;
}

.dignity-product-list-first li:before {
    content: "";
    background-image: url(../img/plus.png);
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: -40px;

}

.dignity-product-list-second {
    margin: 0 auto;
    float: right;
    list-style-type: none;
}

.dignity-product-list-second li {
    width: 527px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 33px 0 0 0;
    position: relative;
}

.dignity-product-list-second li:before {
    content: "";
    background-image: url(../img/plus.png);
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: -40px;
}

.screenshots {
    width: 100%;
    padding: 50px 50px 20px 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-title {
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 36px 0;

}

.screenshots-wrapper {
    width: 575px;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;



}

.screenshots-image {
    width: 200px;
    height: 150px;
    display: block;

}

.screenshots-photo-wrapper {
    width: 359px;

}

.sreenshots-figcaption-title {
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: -5px 0 8px 0;

}

.screenshots-text {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0 auto;
}

.reviews {
    width: 100%;
    min-height: 424px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-title {
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 14px 0;

}

.reviews-wrapper {
    width: 575px;
    display: flex;
    justify-content: space-between;
    margin: 22px 0 0 0;
}

.reviews-photo {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%
}

.reviews-wrapper-text {
    width: 475px;
    background-color: #ebebeb;
    border-radius: 5px;
    margin: 0 0 0 30px;




}

.reviews-text {
    width: 436px;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    padding: 3px 17px 3px 17px;
    position: relative;

}

.reviews-text:before {
    content: "";
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
    position: absolute;
    top: 5px;
    left: -30px;
}

.reviews-author {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    margin: 17px 17px;

}

.buy {
    width: 100%;
    margin: 0 auto;
    padding: 50px 145px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

}

.buy-title {
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 30px 0;
}

.buy-wrapper {
    width: 300px;
    min-height: 306px;
    background-color: #445161;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 0 18px 0;


}

.buy-wrapper-title {
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    margin: 10px 0;
}

.cost {
    width: 296px;
    height: 67px;
    border: 2.0px solid #445162;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: #ffffff;

}

.buy-list li {
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;

}

.buy-button {
    display: block;
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    margin: 0 auto;
    outline: none;
}

.buy-button:hover {
    color: white;
    background-color: darkgray;
}

.buy-button:active {
    color: lightblue;
    background-color: white;

}

.main-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    background-color: #445162;
    box-sizing: border-box;
}

.main-footer-title {
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 30px 0;
}

.main-footer-form {
    width: 500px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 0;

}

.main-footer-form input[type="text"],
.main-footer-form input[type="email"],
.main-footer-form textarea {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    text-transform: capitalize;
}

.main-footer-form input[type="text"]:hover,
.main-footer-form input[type="email"]:hover,
.main-footer-form textarea:hover {
    background-color: darkgray;
    color: white;
    border-color: white;
}

.main-footer-form input[type="text"]:hover::placeholder,
.main-footer-form input[type="email"]:hover::placeholder,
.main-footer-form textarea:hover::placeholder {
    color: white;
}

.main-footer-form textarea {
    width: 500px;
    height: 170px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
}

input[placeholder],
textarea[placeholder] {
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.main-footer-form input[type="submit"] {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    outline: none;
}

.main-footer-form input[type="submit"]:hover {
    background-color: darkgray;
    color: white;
}

.main-footer-form input[type="submit"]:active {
    background-color: #ffffff;
    color: #445162;
}

.contacts-link {
    width: 240px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0 0 -25px 69px;
}

.skype-icon,
.icq-icon,
.email-icon,
.phone-icon {
    width: 165px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    margin: 0 0 20px 0;

}

.skype-icon:before {
    content: "";
    background-image: url(../img/skype.png);
    width: 24px;
    height: 26px;
    position: absolute;
    top: -1px;
    left: -27px;
}

.icq-icon:before {
    content: "";
    background-image: url(../img/icq.png);
    width: 26px;
    height: 26px;
    position: absolute;
    top: -1px;
    left: -27px;
}

.email-icon:before {
    content: "";
    background-image: url(../img/email.png);
    width: 22px;
    height: 22px;
    position: absolute;
    top: -1px;
    left: -27px;
}

.phone-icon:before {
    content: "";
    background-image: url(../img/phone.png);
    width: 24px;
    height: 23px;
    position: absolute;
    top: -1px;
    left: -27px;
}

.contacts-link-icon {
    width: 240px;
    height: 44px;
    margin: 10px 0 0 -30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.twitter-icon,
.facebook-icon,
.in-icon,
.google-icon,
.youtube-icon {
    position: relative;
    margin: 0 auto;
}

.twitter-icon:before {
    content: "";
    background-image: url(../img/twitter.png);
}

.facebook-icon:before {
    content: "";
    background-image: url(../img/facebook.png);
}

.in-icon:before {
    content: "";
    background-image: url(../img/in.png);
}

.google-icon:before {
    content: "";
    background-image: url(../img/google.png);
}

.youtube-icon:before {
    content: "";
    background-image: url(../img/youtube.png);

}

.twitter-icon:before,
.facebook-icon:before,
.in-icon:before,
.google-icon:before,
.youtube-icon:before {
    width: 45px;
    height: 45px;
    display: block;
    position: absolute;
    left: -22px;
    background-repeat: no-repeat;
}

.skype-icon:hover,
.icq-icon:hover,
.email-icon:hover,
.phone-icon:hover {
    color: darkgray;

}

.skype-icon:active,
.icq-icon:active,
.email-icon:active,
.phone-icon:active {
    color: aquamarine;
}

.copy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #f5f5f5;

}

.copy p {
    font-family: Arial;
    font-size: 14px;
    line-height: 15px;
    font-weight: 300;
    color: #445162;

}
